<!DOCTYPE html>
<html ng-app="app">
<head>
	<title><%=blocks.title%></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link  type="text/css" rel="stylesheet" href="/css/jquery.mobile-1.1.1.min.css">
	<link  type="text/css" rel="stylesheet" href="/css/bootstrap.css"/>
	<link  type="text/css" rel="stylesheet" href="/css/style.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/jquery.mobile-1.1.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script> 
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
	
	<script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
<div data-role="header" data-theme="a" data-position="fixed">

	<h1>Bingo! Rooms <span id="onlineUserCount"></span>
	<% if (user) { %>
	(<%=user.username%>)
	<% } %>	
	</h1>
	
	<%-partial('topNavigation')%>
	
</div><!-- /header -->

  <h1><%=blocks.title%></h1>

  <%-body -%>
</section>
	<div data-role="footer" data-theme="a" data-position="fixed">
		<h4>Welcome to the BINGO.</h4>
		<h4 style="display: none">Game started!</h4>
	</div>
</body>
</html>